body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
}
.header {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgba(30, 115, 172, 0.7),
    rgba(142, 57, 153, 0.6)
  );
  background-size: cover;
  background-position: top;
}
.header__name_and_title {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heading-primary {
  color: rgb(15, 45, 100);
  margin-bottom: 2.5rem;
}
/*
.heading-secondary {
}*/
.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
}
.heading-primary--main {
  display: block;
  font-size: 5rem;
  font-weight: 350;
  letter-spacing: 0.6rem;
}
.heading-primary--sub {
  display: block;
  font-size: 2.2rem;
  font-weight: 350;
  letter-spacing: 0.6rem;
}
/*
@media (max-width: 56.25em) {
  .header {
  }
}*/

/*
.btn {
}
.btn--animated {
}
.smooth-goto{
}
*/
.btn--white {
  background-color: #fff;
  color: #777;
}

.about {
  background-color: #f7f7f7;
  padding: 2rem 0;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.vert-allign-text {
  text-align: center;
}
.margin-bottom-lg {
  margin-bottom: 8rem;
}
.margin-bottom-med {
  margin-bottom: 4rem;
}
.margin-bottom-sm {
  margin-bottom: 1.5rem;
}

.row .two-cols {
  width: calc((100%-5rem / 2));
}

.paragraph {
  font-size: 1.6rem;
}

.technology-icons {
  position: relative;
}
.technology-icon {
  width: 50%;
  -webkit-filter: drop-shadow(1px 1px 2px #222);
  filter: drop-shadow(1px 1px 2px #222);
  border-radius: 2px;
  z-index: 10;
  /*transition: all .2s;
  */
  position: absolute;
}
@media (max-width: 56.25em) {
  .technology-icon {
    float: left;
    position: relative;
    width: 28.33%;
  }
}
.technology-icon-1 {
  top: 0;
  left: 0;
  /*width 35%;
*/
}
@media (max-width: 56.25em) {
  .technology-icon-1 {
    top: 0;
    left: 0;
    width: 33%;
  }
}
.technology-icon-2 {
  top: 0;
  left: 66%;
  /*width 35%;
*/
}
@media (max-width: 56.25em) {
  .technology-icon-2 {
    top: 0;
    left: 0;
    width: 33%;
    z-index: 100;
  }
}
.technology-icon-3 {
  top: 50%;
  left: 33%;
  /*width 35%;
*/
}
@media (max-width: 56.25em) {
  .technology-icon-3 {
    top: 0;
    left: 0;
    width: 33%;
  }
}
/*
.footer {
}
.footer-navigation {
}
.footer-list {
}
.footer-item {
}
.footer-copyright {
}*/
