body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.7;
  color: #777;
  padding: 1rem;
}
/* HEADER*/
.header {
  overflow: hidden;
  text-align: center;
  padding: 1rem;
  background-image: linear-gradient(
    to right bottom,
    rgba(103, 158, 194, 0.7),
    rgba(134, 89, 139, 0.6)
  );
  background-size: cover;
  background-position: top;
}
.header__name_and_title {
  padding: 1rem;
  position: relative;
  height: 121px;
}
.header-links {
  padding: 1rem;
  position: relative;
  font-size: 1.5rem;
  font-weight: 350;
}
.heading-primary {
  color: rgb(15, 45, 100);
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/*
.heading-secondary {
}*/
.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
}
.heading-primary--name {
  display: block;
  font-size: 3rem;
  font-weight: 350;
  letter-spacing: 0.6rem;
}
.heading-primary--title {
  display: block;
  font-size: 1.5rem;
  font-weight: 350;
  letter-spacing: 0.6rem;
}
.btn-header-links {
  background: none;
  display: inline-block;
  padding: 10px 20px;
  color: #ddd;
  border: 2px solid #ccc;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 1px;
}

.main-about {
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(160, 135, 194, 0.6)
  );
  text-align: center;
  padding: 1rem;
}

.two-cols {
  column-count: 2;
}
.row [class^='col-'] {
  float: left;
}

.p-about {
  font-size: small;
}

ul.technologies {
  list-style-type: circle;
}

.technology-icons {
  position: relative;
}
.technology-icon {
  width: 50%;
  -webkit-filter: drop-shadow(1px 1px 2px #222);
  filter: drop-shadow(1px 1px 2px #222);
  border-radius: 2px;
  z-index: 10;
  /*transition: all .2s;
  */
  position: absolute;
}
@media (max-width: 56.25em) {
  .technology-icon {
    float: left;
    position: relative;
    width: 28.33%;
  }
}
.technology-icon-1 {
  top: 0;
  left: 0;
  /*width 35%;
*/
}
@media (max-width: 56.25em) {
  .technology-icon-1 {
    top: 0;
    left: 0;
    width: 33%;
  }
}
.technology-icon-2 {
  top: 0;
  left: 66%;
  /*width 35%;
*/
}
@media (max-width: 56.25em) {
  .technology-icon-2 {
    top: 0;
    left: 0;
    width: 33%;
    z-index: 100;
  }
}
.technology-icon-3 {
  top: 50%;
  left: 33%;
  /*width 35%;
*/
}
@media (max-width: 56.25em) {
  .technology-icon-3 {
    top: 0;
    left: 0;
    width: 33%;
  }
}

.main-projects {
  height: 10rem;
  background-color: rgba(135, 141, 194, 0.6);
}
.p {
  font-size: xx-small;
}
.footer {
  overflow: hidden;
  text-align: center;
  padding: 1rem;
  background-image: linear-gradient(
    to right bottom,
    rgba(103, 158, 194, 0.7),
    rgba(134, 89, 139, 0.6)
  );
  background-size: cover;
  background-position: bottom;
}
.footer-contact {
  padding-top: 1rem;
}
.btn-footer-links {
  background: none;
  display: inline-block;
  padding: 10px 20px;
  color: #ddd;
  border: 2px solid #ccc;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 1px;
}
.footer-copyright {
  color: rgba(0, 0, 0, 0.7);
  padding-top: 1rem;
  font-family: 'Times New Roman', Times, serif;
  font-size: small;
  text-shadow: 0 1px rgba(255, 255, 255, 0.1);
  text-align: center;
}
